<%= form_for([:admin, @resume]) do |f| %>
  <% if @resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% @resume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
  <div class="field">
    <h3>Categories</h3>
    <ul>
    <% for category in Category.roots %>
      <li>
        <%= check_box_tag "resume[category_ids][]", category.id, @resume.categories.include?(category) %>
        <%= link_to category.title, admin_category_path(category) %>
      </li>
    <% end %>
    </ul>  
  </div>

<% end %>
