<p id="notice"><%= notice %></p>

<% if !@resume.categories.blank? %>
  <%= render :partial => 'category', :locals => {:categories => @resume.categories} %>
<% else %>
  <p class="alert">There are no categories for this resume.</p>
<% end %>

<p>
  <b>Name:</b>
  <%= @resume.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @resume.comment %>
</p>

<p>
  <b>Created at:</b> 
  <%= @resume.created_at %>
</p>


<%= link_to 'Edit', edit_admin_resume_path(@resume) %> |
<%= link_to 'Back', admin_resumes_path %>
