<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category.title %>
</p>

<p>
  <b>Parent:</b>
  <% if @category.parent? %>
    Root Category
  <% else %>
     <%= category.parent.name %>
  <% end %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @category.subtitle %>
</p>

<p>
  <b>Created at:</b>
  <%= @category.created_at %>
</p>


<%= link_to 'Edit', edit_admin_category_path(@category) %> |
<%= link_to 'Back', admin_categories_path %>
