<div class="category">
  <h2 id="category-<%= category.id %>"><%= category.title %> <span class="date"><%= category.subtitle %></span></h2>
  
  <%= textile category.content %>

  <% if !category.children.empty? %>
    <%= render :partial => category.children %>
  <% end %>
</div>