<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category.title %>
</p>

<p>
  <b>Parent:</b>
  <%= @category.parent? %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @category.subtitle %>
</p>

<p>
  <b>Created at:</b>
  <%= @category.created_at %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
